.search {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    p {
        margin: 0;
        font-weight: 500;
    }
    label {
        font-weight: bold;
        input {
            margin-right: .5rem;
        }
    }

    .radio-group {
        display: flex;
        gap: 1rem;
    }
}

