:root {
    --light-grey: #dadada;
    --pinkish-grey: #c4c4c4;
    --emerald: #089954;
    --blue: #0094ff;
    --green-teal: #0ab463;
    --warm-grey-75: rgba(132, 132, 132, 0.75);

    --background: #ededed;
    --foreground: #fff;
    --card-background: #fff;
    --heading-color: #000;
}

* {
    box-sizing: border-box;
}

body, html {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

body {
    background: var(--background);
    margin: 0;
}

.container {
    width: 1024px;
    margin: 0 auto;
    height: 100%;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
    margin-bottom: 2rem;
    color: var(--emerald);
    font-weight: bolder;
    font-size: 1.3rem;
    background: var(--foreground);
    box-shadow: 0 1px 1px 0 var(--warm-grey-75);
}

.search-container {
    display: flex;
    gap: 2rem;

    aside {
        width: 35%;
    }

    main {
        width: 65%;
        min-height: 70vh;
    }
}
@media (max-width: 600px) {
    .container {
        width: auto;
        margin: 0 .75rem;
    }
    .search-container {
        flex-direction: column;

        aside {
            width: 100%;
        }

        main {
            width: 100%;
            max-width: 100%;
            min-height: auto;
        }
    }
}
