.card {
    background: var(--card-background);
    border-radius: 4px;
    border: 1px solid var(--light-grey);
    box-shadow: 0 1px 1px 0 var(--warm-grey-75);
    padding: 2rem;
}
@media (max-width: 600px) {
    .card {
        padding: 2rem 1rem;
    }
}
