.card.results {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100%;

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex: 1;

        .results-list {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;
            gap: .75rem;

            .result {
                display: flex;
                width: 100%;
                align-items: center;
                justify-content: space-between;
                padding-bottom: .5rem;
                &:not(:last-child) {
                    border-bottom: 1px solid var(--light-grey);
                }
            }
        }
    }

    .results-message {
        margin: 0;
        text-align: center;
        color: var(--pinkish-grey);
        font-weight: bold;
    }
}
