.card.results {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100%;

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex: 1;
    }

    .no-results {
        margin: 0;
        text-align: center;
        color: var(--pinkish-grey);
        font-weight: bold;
    }
}
