.heading {
    margin: 0;
    font-weight: bold;
    display: block;
    color: var(--heading-color);
}
.heading.level-1 {
    font-size: 1.3rem;
    width: 100%;
}
.heading.level-2 {
    font-size: 1.2rem;
}
