.input-field {
    padding: .5rem;
    box-shadow: inset 0 1px 2px var(--light-grey);
    border: solid .5px var(--pinkish-grey);
    border-radius: 4px;
    font-weight: bold;
    &::placeholder {
        color: var(--light-grey);
        opacity: 1;
    }
    &:focus {
        outline: none;
        border-color: #000;
    }
}
